# icarus.cfg

build-system:
  - runtime: venv

venv:
  - name: build_venv
  - python: 3.13
  - requirements: 'requirements.txt'

brazil:
  - python: 3.11

ignore:
  - '.git/'
  - '.github/'
  - '.idea/'
  - '*/.mypy_cache/'
  - '*/.pytest_cache/'
  - '*/__pycache__/'
  - '*/*.egg-info/'
  - 'build*/'
  - 'dist/'
