# My Library
carlogtt-python-library

# Runtime dependencies
python-dotenv

# Test dependencies
pytest

# Type annotation depencencies

# Documentation dependencies
sphinx

# Build dependencies
build
twine

# Development dependencies
black
isort
mypy
flake8
pep8-naming
