#
# Lists development dependencies for your package.
#
# Your package doesn’t need these packages at runtime,
# but they are needed at development time.
#
# These are not transitive: anyone that depends on your package
# will NOT automatically pick up these dependencies.
#

# Test dependencies
pytest

# Documentation dependencies
sphinx
sphinx-rtd-theme

# Development dependencies
black
isort
mypy
flake8
pep8-naming
