#
# Lists build dependencies for your package.
#
# Your package doesn't need these packages at runtime,
# but they are needed at build time.
#
# These are not transitive: anyone that depends on your package
# will NOT automatically pick up these dependencies.
#
# These are only used when a package provides tools to help build
# a package.
#

# Build dependencies
icarus-python3
